accelerate==0.27.2
dashscope==1.19.2
datasets==2.18.0
deepseek_vl==1.0.0
deepspeed==0.14.4
diskcache==5.6.3
Jinja2==3.1.4
numpy==2.0.0
openai==1.35.10
optuna==3.6.1
oss2==2.18.5
Pillow==10.4.0
protobuf==5.27.2
replicate==0.26.0
sentence_transformers==3.0.1
torch==2.3.0
torchvision==0.18.1
tqdm==4.66.4
transformers==4.41.2
